<div *ngFor="let post of posts | async | orderByPipe; let i = index"> 
    <mat-card class="example-card">
        <mat-card-title><h5>{{post.title}}</h5></mat-card-title>
        <mat-card-header>
          <mat-card-subtitle>Published at: <b>{{post.publicationDate | date:'medium' }}</b></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
      
            <div style="word-wrap: break-word;" [innerHTML]="post.markup | safeHtml"></div>
      
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="selectPost(post)">EDIT</button>
          <button mat-button (click)="deletePost(post)">DELETE</button>
        </mat-card-actions>
      </mat-card>
</div>

